:root {
    --coloredText: darkblue;
}

body {
    background-color: #33393f;
}

#pageHeader {
    text-align: center;
    font-size: 42px;
    color: var(--coloredText);
}
#headerDescription {
    text-align: center;
    font-size: 18px;
    color: lightgray;
}

#allSnippetsContainer {
    display: flex;
    flex-wrap: wrap;
}

.snippetContainer {
    
}

.snippet {

}